<h1>NUEVA VISTA DE MAPA</h1>
<div id="wrapper">
    <div id="map" style="width:100%; height:500px"></div>
</div>

<!-- 
	<div class="header__inner">
        
            <a href="javascript:void(0)" class="logo menuBtn fast-click-highlighted" aria-label="Botón de Inicio" track="click:home">
                <i class="icondefault icon icon-bars "></i>

                    <span class="offline-status status-success">
                    <span class="offline-icon status-success">
                    </span>
					</span>
            </a>
        
        <h1 class="header__title">
            <span class="header-subtitle"></span>
            <span class="header-title">Búsqueda global</span>
        </h1>
            <a href="javascript:void(0)" class="createBtn launch create-entity fast-click-highlighted" aria-label="Botón derecho del menú" track="click:create">
                    <i class="icondefault icon icon-ellipsis-v header-icon__plus icon-size-md"></i>

            </a>
            <a href="javascript:void(0)" class="searchBtn fast-click-highlighted" aria-label="Botón de búsqueda" track="click:search"><i class="icondefault icon icon-search icon-size-md"></i>
</a>
    </div>
-->