<div id="map">
</div>

<!--Sección de detalle -->
<div class="detalle">
	<div id="imageSection">
		<img id="lugar_cuenta" src="img/defaultImageMap.png">
		<div style="text-align:center;">
			<button id="ruta">Cómo llegar</button>
		</div>
	</div>

	<div id="nameStars">
		<div style="text-align:center;">
			<h1></h1>
		</div>
		<div id="star_container">
		</div>
		<div id="detalleCuenta">

		</div>
	</div>
	
	<div id="section_info" style="display:none">
	</div>
</div>