<div id="map">
</div>

<!--Sección de detalle -->
<div class="detalle">
	<!--
	<div class="tab">
		<button class="tablinks" style="background-color:#bfbbbb">Cuenta</button>
		<button class="tablinks">Usuario</button>
	</div>
	<div id="Cuenta" class="tabcontent">

		<div id="imageSection">
			<img id="lugar_cuenta" src="img/defaultImageMap.png">
		
		</div>

		<div id="nameStars">
			<div style="text-align:center;">
				<h1></h1>
			</div>

			<div id="star_container">
			</div>

			<div id="detalleCuenta">
			</div>

			<div id="section_info" style="display:none">
			</div>
		</div>
	</div>
-->
	<!--Usuario
	<div id="Usuario" class="tabcontent" style="display:none">
		<div id="contenidoUsuario" style="padding: 10px;">

		</div>
	</div>
	-->
</div>