<div id="map">
</div>

<!--Sección de detalle -->
<div class="detalle">
	<div id="imageSection">
		<img id="lugar_cuenta" src="img/defaultImageMap.png">
	</div>

	<div id="nameStars">
		<div style="text-align:center;">
			<h1></h1>
		</div>
		<div id="star_container">
			<!--
			<img style="margin: 0px 15px 15px 0px;" src="img/estrella.png" width="25">
			<img style="margin: 0px 15px 15px 0px;" src="img/estrella.png" width="25">
			<img style="margin: 0px 15px 15px 0px;" src="img/estrella.png" width="25">
			<img style="margin: 0px 15px 15px 0px;" src="img/estrella.png" width="25">
			<img style="margin: 0px 15px 15px 0px;" src="img/estrella_blanca.png" width="25">
		-->
		</div>
	</div>
	
	<div id="section_info" style="display:none">
	</div>
</div>