<div class="box__edit">
    <div class="scroll">
        <div class="pad">
            <div class="btn btn--primary selected-item setBackground" id="backgroundButton">Background</div>
        </div>
    </div>
</div>